*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <-- header --> */

.header{
    width: 100%;
    background-color: #f8dddd;
}

.container{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .navegacion > a{
color: #121111;
text-decoration:none ;
padding-left: 2em;
font-family: 'Roboto';
}

.navegacion a:hover{
    color: aqua;
}

/* <-- cierre del header --> */